body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid  #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 176px;
    }
}

.logo-span {
    color: #2E2F42;
}

.header-ul {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .header-ul {
        display: none;
    }
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus, 
.nav-link.current {
    color: #404BBF;
}

.address-box {
    font-style: normal;
}

.address-ul {
display: flex;
gap: 40px;
}

@media screen and (max-width: 767px) {
    .address-ul {
        display: none;
    }
}

@media screen and (max-width: 1158px) {
    .address-ul{
        flex-direction: column;
        gap: 12px;
    }
}

.contacts {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1158px) {
    .contacts {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        padding: 0;
    }
}

.contacts:hover,
.contacts:focus {
    color: #404BBF;
}

.mobile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: inherit;
}

@media screen and (min-width: 768px) {
    .mobile-btn {
        display: none;
    }
}

.mobile-btn-icon {
    fill: #2f2f37;
}


/* main */

/* section 1 */

.box-section {
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
     url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 288px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.button-content {
    background-color: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    display: block;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-content:hover,
.button-content:focus {
    background-color: #404BBF;
}

/* section 2 */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .advantages-section {
        padding: 120px 0;
    }
}

@media screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        min-width: 356px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

.advantages-item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .advantages-item {
        margin-bottom: 0;
        width: calc((100% - 1 * 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .advantages-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.advantages-item:not(:last-child) {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .advantages-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.icon-advantages {
    display: none;
}

@media screen and (min-width: 1158px) {
    .icon-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
    }
}

.header-advantages {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .header-advantages {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .header-advantages {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.text-advantages {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .text-advantages{
        font-weight: 400;
    }
}

/* section 3 */

.our-team-section {
    background-color: #F4F4FD;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .our-team-section {
        padding: 120px 0;
    }
}

.header-team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team {
    background-color: #f4f4fd;
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .list-team{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
}

.item-team {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: flex;
    max-width: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .item-team {
        width: calc((100% - 1 * 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .item-team {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.team-info {
padding: 32px 0;
width: 232px;
margin: 0 auto;
}

.name {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.job-title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ul-icon-team {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.item-team-social {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.item-team-social:hover,
.item-team-social:focus {
    background-color: #404BBF;
}

.svg-team {
    fill: #F4F4FD;
}

/* section 4 */

.portfolio-section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding: 120px 0;
    }
}

.header-portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media screen and (min-width: 768px) {
    .list-portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .list-portfolio {
        row-gap: 48px;
    }
}

.item-portfolio {
    width: 288px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .item-portfolio {
        width: calc((100% - 1 * 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .item-portfolio {
        width: calc((100% - 2 * 24px) / 3);
    }
}

.item-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translatey(100%);
}

.item-portfolio:hover .overlay {
    transform: translatey(0);
}


.portfolio-info {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}

.subtitle-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-portfolio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */


.footer-box {
    background-color: #2E2F42;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .footer-box{
        padding: 100px 0;
    }
}

@media screen and (min-width: 768px) {
    .div-footer {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
    }
}

@media screen and (min-width: 1158px) {
    .div-footer {
        align-items: baseline;
        padding-left: 15px;
        column-gap: 0;
    }
}

.div-logo {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .div-logo {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .div-logo {
        margin-right: 120px;
    }
}


 .logo-footer {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
} 

@media screen and (min-width: 768px) {
    .logo-footer {
        text-align: left;
    }
}

.logo-span-footer {
    color: #F4F4FD;
}

.text-footer {  
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 100%;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .text-footer {
        max-width: 264px;
        margin-bottom: 0;
    }
}

.div-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 208px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .div-social-media {
        align-items: flex-start;
        margin: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .div-social-media {
        margin-right: 80px;
    }
}

.social-media {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.ul-footer-icon {
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .ul-footer-icon {
        margin-bottom: 0;
    }
}

.footer-item {
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 40px;
height: 40px;
background-color: #4D5AE5;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:hover,
.footer-item:focus {
    background-color: #31D0AA;
}

.svg-footer {
    fill: #F4F4FD;
}

.text-form {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .text-form {
        text-align: start;
    }
}

 @media screen and (min-width: 768px) {
    .form-footer {
        display: flex;
        gap: 24px;
    }
} 

.email-input-footer {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .email-input-footer {
        min-width: 264px;
        margin-bottom: 0;
    }
}

.email-input-footer::placeholder {
    color: #FFF;
}

 .footer-button {
    color: #FFF;
    background-color: #4D5AE5;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.svg-footer-button {
    margin-left: 16px;
}

.footer-button:hover,
.footer-button:focus {
    background-color: #31D0AA;
}

/* modal window */

.section-modal-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-window {
    min-width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    padding: 72px 16px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal-window {
        min-width: 488px;
        min-height: 584px;
        padding-left: 23px;
        padding-right: 25px;
    }
}

@media screen and (min-width: 1158px) {
    .modal-window {
        min-width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

.button-icon-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10) ;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon-close:hover,
.button-icon-close:focus {
    background-color: #404BBF;
    border: none;
}

.button-icon-close:hover > .icon-close,
.button-icon-close:focus >.icon-close {
    fill: #FFFFFF;
}

.modal-text {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.div-form {
    margin-bottom: 8px;
}

.label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    height: 40px;
    width: 100%;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input:focus {
    border-color: #4D5AE5;
}

.div-icon {
    position: relative
}


.icon-modal-window {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .icon-modal-window {
    fill: #4D5AE5;
}

.div-textarea {
    margin-bottom: 16px;
}

.textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.40);
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.div-checkbox {
    margin-bottom: 24px;
}

.box-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 8px;
}

.checkbox-input:checked + .checkbox-label > .box-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
}

.checkbox-link {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.form-button {
    display: block;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

/* mobile-menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 24px 40px 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transform: translate(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
}

.mobile-menu.is-open {
    transform: translate(0);
    visibility: visible;
}

.mobile-btn-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border-radius: 50%;
    border: 1px solid #0000001a;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-btn-icon{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list {
    margin-bottom: auto;
}

.mobile-list-link {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-list-link.current {
    color: #404bbf;
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
}

.mobile-contacts-link.current {
    color: #4d5ae5;
    margin-bottom: 24px;
}

.social-list-mobile {
    display: flex;
    justify-content: left;
    gap: 40px;
}

.social-link-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
}

.icon-mobile{
fill: #F4F4FD;
}